github "Alamofire/Alamofire" ~> 4.7.2
github "onevcat/Kingfisher" ~> 5.0
github "hackiftekhar/IQKeyboardManager"
github "ninjaprox/NVActivityIndicatorView"
github "i-schuetz/SwiftCharts" ~> 0.6.5
github "stephsharp/MaterialTextField"