<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991239445150-6g44djjrkcqld3ip7sfct5goffds8983.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991239445150-6g44djjrkcqld3ip7sfct5goffds8983</string>
	<key>API_KEY</key>
	<string>AIzaSyA9TP3k_M6mu18geFGe0QOdWPVCGXOPHjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>991239445150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pasin.com.deabeteplus</string>
	<key>PROJECT_ID</key>
	<string>deabeteplus</string>
	<key>STORAGE_BUCKET</key>
	<string>deabeteplus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991239445150:ios:4e102a6fee0814061bb98f</string>
	<key>DATABASE_URL</key>
	<string>https://deabeteplus.firebaseio.com</string>
</dict>
</plist>